USE [master]
GO
/****** Object:  Database [cardealership]    Script Date: 11/4/2017 7:01:56 AM ******/
CREATE DATABASE [cardealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cardealership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\cardealership.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cardealership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\cardealership_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cardealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cardealership]
GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 11/4/2017 7:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[LicenseNumber] [nvarchar](20) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
 CONSTRAINT [PK_Buyers] PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 11/4/2017 7:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[CarMake] [nvarchar](50) NOT NULL,
	[CarModel] [nchar](10) NOT NULL,
	[ModelYear] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car_Buyer]    Script Date: 11/4/2017 7:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Buyer](
	[Car_BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
 CONSTRAINT [PK_Car_Buyer] PRIMARY KEY CLUSTERED 
(
	[Car_BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Buyers] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Buyers]
GO
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Car] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Car]
GO
USE [master]
GO
